div
{
  float: left;
}
.green
{
  width: 70%;
  height: 2em;
  background: #2ecc71;
}
.blue
{
  width: 30%;
  height: 2em;
  background: #2980b9;
}
.red
{
  width: 30%;
  height: 5em;
  background: #e74c3c;
}
.orange
{
  width: 30%;
  height: 2.5em;
  background: #e67e22;
}
.grey
{
  width: 40%;
  height: 2.5em;
  background: #95a5a6;
}
.yellow
{
  width: 24%;
  height: 2.5em;
  background: #f39c12;
}
.green2
{
  width: 24%;
  height: 2.5em;
  background: #16a085;
}
.orange2
{
  width: 22%;
  height: 2.5em;
  background: #d35400;
}
.black
{
  width: 100%;
  height: 7.5em ;
  background: #2c3e50;
}
