/* Police pour tout le document (selecteur universel) */
*
{
      font-family:Arial, Helvetica, sans-serif;
}
/* Titre du tableau, taille de police, alignement , marges */
caption
{
  font-size: 1.2em;
  text-align:center;
  margin: 1.5em;
}
/* aux cellules du tableau, bordure (taille, type, couleur), largeur des colonnes */
td,th
{
    border: 1px solid black;
    width : 80em;
}
/* largeur du tableau, fusion des borders , marges */
table
{
  width : 80%;
  border-collapse: collapse;
  margin: auto;
}
tfoot
{
  text-align: center;;
}

.long
{
  width: 150em;
}
